.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.suggesstion-box {
  background-color: #f1f1f1;
  z-index: 2;
}
.suggesstion-box ul {
  list-style-type: none;
  margin-left: -30px;
}

.suggesstion-box ul li {
  padding: 5px;
}

.suggesstion-box ul li:hover {
  background-color: #fff;
}
